* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
}

#main-header {
    background-color: white;
}

#main-title {
    display: inline-block;
    padding-top: .6rem;
}

#main-logo {
    padding: .5rem 1rem;
    vertical-align: top;
}

#container {
    width: 80%;
    margin: 4rem auto;
    background-color: white;
    border-radius: .5rem;
}

.buttons {
    padding: .8rem 3rem;
}

#btn-task {
    background-color: rgb(0, 179, 250);
    color: white;
    border-style: none;
    border-radius: 5px;
    padding: .5rem;
}

#btn-section {
    background-color: white;
    color: lightgray;
    border: 1px lightgray solid;
    border-radius: 5px;
    padding: .5rem;
}

.separator {
    height: .3rem;
    background-color: lightgrey;
}

.lists {
    padding: 3rem 3rem 0 3rem ;
}

.lists#final {
    padding-bottom: 3rem;
}

ul {
    padding-left: 2.5rem;
    list-style: none;
}

li {
    font-size: 1.2rem;
    padding-top: 1rem;
}

.check {
    color: green;
    border: 1px green solid;
    border-radius: 100%;
}

.cross {
    color: red;
    border: 1px red solid;
    border-radius: 100%;
}

.tag {
    font-size: .8rem;
    color: white;
    padding: .5rem;
    border-radius: 1rem;
}

.tag.editorial {
    background-color: rgb(0, 179, 250);
}

.tag.q1-goals {
    background-color: blueviolet;
}

.tag.recruiting {
    background-color: rgb(91, 150, 130);
}

.tag.mobile {
    background-color: rgb(255, 114, 63);
}

.tag.website {
    background-color: palevioletred;
}

.tag.sales {
    background-color: rgb(136, 178, 36);
}